{% set currentPage = ('index' if pagetype === 'index' else 'default') %}

<!DOCTYPE html>

<!--

  Why don't you minify your HTML?

  Because I love view source. It's how I learned to make websites.
  I don't think there's enough of a performance gain, even on slow connections,
  for minifying HTML to make much of a difference. I do minify CSS and JS, but
  if you'd like to see the unminified versions of those files, please reach
  out and I'll be happy to provide them!

-->

<html class="dark" id="htmltop" lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{description}}" />
    <link rel="shortcut icon" href="/_img/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="alternate" type="application/rss+xml" title="CWB Writing RSS Feed" href="/feed.xml"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Lora:ital,wght@0,400;0,600;1,400;1,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/_css/global.css?v=2025.01.26" />
    <!-- Opengraph -->
    <meta property="og:title" content="{{title}}" />
    <meta property="og:type" content="post" />
    <meta property="og:url" content="{{description}}" />
    {% if image %}<meta property="og:image" content="{{image}}" />{% endif %}
  </head>
  <body>
    {% include 'src/_includes/header.njk' %}
      {% if currentPage == 'index' %}
        {% include 'src/_includes/welcome.njk' %}
      {% endif %}
    <div class="articlewrap">
      <article>
        {{ content | safe }}
      </article>
      {% include "src/_includes/sidebar.njk" %}
    </div>
    {% include "src/_includes/footer.njk" %}
  </body>
  <script async src="/_js/global.min.js?v=2025.02.12b" async></script>
  <!-- MailerLite Universal -->
  <script>
    (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
    .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
    n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
    (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
    ml('account', '529663');
  </script>
  <!-- End MailerLite Universal -->
  </html>
