<!-- Twitter Insert -->
<div class="sbwidget bluesky">
  <h4>Follow Me On BlueSky</h4>
  <div class="blueskybox">
    <div class="wrapper">
        <div class="pic">
            <a href="https://bsky.app/profile/cwbuecheler.bsky.social"><img src="https://cdn.bsky.social/imgproxy/gcdVpeSKgpjs_H4y9qzBVVnW0mwwgYckL7yybucRGdo/rs:fill:1000:1000:1:0/plain/bafkreifns67dtz73dsgzxxh5pbpuik7mmatswcud26zoram7ugzgyk22am@jpeg" alt="bluesky avatar" /></a>
        </div>
        <div class="background">&nbsp;</div>
        <h3><a href="https://bsky.app/profile/cwbuecheler.bsky.social" target="_blank">Christopher Buecheler</a></h3>
        <em><a href="https://bsky.app/profile/cwbuecheler.bsky.social" target="_blank">@cwbuecheler.bsky.social</a></em>
    </div>
  </div>
</div>
<!-- /Twitter Insert -->