<!-- Facebook Insert -->
<div class="sbwidget twitter">
  <h4>Like Me On Facebook</h4>
  <div
    class="fb-page"
    data-href="https://www.facebook.com/cwbwriting/"
    data-tabs="timeline"
    data-width=""
    data-height=""
    data-small-header="true"
    data-adapt-container-width="true"
    data-hide-cover="false"
    data-show-facepile="true"
  >
    <blockquote cite="https://www.facebook.com/cwbwriting/" class="fb-xfbml-parse-ignore">
      <a href="https://www.facebook.com/cwbwriting/">Christopher Buecheler</a>
    </blockquote>
  </div>
</div>
<!-- /Facebook Insert -->
