    <footer>
      <div class="wrap">
        Design &bull; Code &bull; Content &copy; <span id="copyyear">2022</span>
        <a href="/contact">Christopher Buecheler</a><br />
        Site Generation: <a href="http://11ty.dev" target="_blank">Eleventy</a>
      </div>
    </footer>
