    <footer>
      <div class="wrap">
        Design &bull; Code &bull; Content &copy; <span id="copyyear">2022</span>
        <a href="/contact">Christopher Buecheler</a>
        <div class="footer-social-bar">
          <a href="https://bsky.app/profile/cwbuecheler.com" aria-label="BlueSky" target="_blank"><img src="/_img/social/bluesky.svg" alt="BlueSky" width="28" height="28" /></a>
          <a href="https://www.instagram.com/cwbwriting/" aria-label="Instagram" target="_blank"><img src="/_img/social/instagram.svg" alt="Instagram" width="28" height="28" /></a>
          <a href="https://www.tiktok.com/@cwbwriting" aria-label="TikTok" target="_blank"><img src="/_img/social/tiktok.svg" alt="TikTok" width="28" height="28" /></a>
          <a href="https://www.goodreads.com/author/show/3104036.Christopher_Buecheler" aria-label="Goodreads" target="_blank"><img src="/_img/social/goodreads.svg" alt="Goodreads" width="28" height="28" /></a>
        </div>
        Site Generation: <a href="http://11ty.dev" target="_blank">Eleventy</a> &bull; Icons:
        <a href="https://remixicon.com/" target="_blank">Remix Icon</a>
      </div>
    </footer>
