<!-- Newsletter Signup -->

<div class="sbwidget newsletter">
  <h4>Writing News</h4>
  <p>Stay up to date on my books and stories with my spam-free, ad-free, bi-monthly newsletter!</p>
  <div class="ml-embedded" data-form="B6LAUt"></div>
</div>
<!-- /Newsletter Signup -->