<!-- Twitter Insert -->
<div class="sbwidget twitter">
  <h4>Follow Me On Twitter</h4>
  <div class="twitterbox">
    <a
      class="twitter-timeline"
      data-width="284" 
      data-dnt="true"
      href="https://twitter.com/cwbuecheler?ref_src=twsrc%5Etfw"
      >Tweets by cwbuecheler</a
    >
    <script async defer src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
<!-- /Twitter Insert -->