<div class="welcome">
  <h3>Hi, I&rsquo;m Christopher Buecheler</h3>
  <img
    srcset="
      /_img/cwb_square@2x.jpg 2x,
      /_img/cwb_square@1x.jpg 1x,
    "
    src="cwb_square@1x.jpg"
    alt="Christopher Buecheler Picture"
  />
  <p>
    I write <a href="/books/">novels</a>, <a href="/stories/">short stories</a>, and the occasional
    <a href="/nonfiction/">piece of non-fiction</a>. You should check out those links to learn more about
    my writing. You can also <a href="/contact/">drop me a line</a> or
    <a href="/about/">learn more about me</a>. Below you&rsquo;ll find my latest post from <a href="/posts/">the blog</a>.
    My work is represented by Diana Fox of <a href="https://foxliterary.com" target="_blank">Fox Literary</a>.
  </p>
</div>
