@import 'normalize';

/* BASICS ============================================== */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: #eee;
  color: #444;
  font-family: Lato, Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
  display: flex;
  flex-direction: column;
  font-size: 1.1875rem;
  height: 100%;
  line-height: 2rem;
  margin: 0;
  padding: 0;
}

a:link,
a:visited {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  color: #0482e5;
  text-decoration: none;
}
a:hover {
  border-bottom: 1px dashed #0482e5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  border-bottom: 1px dashed #f1d7ee;
  color: #ad52a1;
  font-family: lora, Georgia, 'Times New Roman', Times, serif;
  margin: 0 0 1em 0;
  padding: 0;
}

p {
  margin: 0 0 1em 0;
}

blockquote {
  background-color: #feeefc;
  border: 1px solid #fcdbf8;
  font-style: italic;
  margin: 0 0 5px 0;
  padding: 20px;

  p {
    margin: 0 1em 0 0;

    &:last-child {
      margin: 0;
    }
  }
}

/* HEADER ============================================== */
header {
  background: rgb(4, 130, 229);
  background: linear-gradient(180deg, rgba(4, 130, 229, 1) 0%, rgba(125, 198, 255, 1) 100%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 1;

  .wrap {
    background: rgba(255, 255, 255, 0.2);
    margin: 0 auto;
    max-width: 1090px;
    padding: 30px;
    position: relative;

    .modeselect {
      background: #000;
      border-radius: 10px;
      color: #aaa;
      font-size: 0.75rem;
      padding: 0 10px;
      position: absolute;
      right: 20px;
      top: 10px;
    }
  }

  h1 {
    border: none;
    margin: 0 0 0.1rem 0;

    a:link,
    a:visited {
      border: none;
      color: #ffffff;
      text-decoration: none;
      text-transform: uppercase;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  h2 {
    border: none;
    color: #fff;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 300;
    margin: 0 0 20px 0;
  }

  nav {
    width: 100%;

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        flex-grow: 1;
        margin: 0 2px 2px 0;
        padding: 0;

        &:last-child {
          margin: 0;
        }

        a:link,
        a:visited {
          background: #fff;
          border: none;
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
          color: #0482e5;
          display: block;
          font-size: 1rem;
          padding: 0 5px;
          text-align: center;
          text-transform: uppercase;
          width: 100%;
          white-space: nowrap;
        }
        a:hover {
          background: #0482e5;
          border: none;
          color: #fff;
        }
      }
    }
  }
}

/* CENTRAL COLUMNS ===================================== */

.welcome {
  background: #fff;
  margin: 0 auto;
  max-width: 1090px;
  padding: 30px 30px 0 30px;

  img {
    float: left;
    margin: 0 20px 0 0;
    max-width: 200px;
  }
}

.articlewrap {
  align-items: stretch;
  display: flex;
  margin: 0 auto;
  max-width: 1090px;

  article {
    background: #fff;
    max-width: 758px;
    padding: 30px 60px 30px 30px;
    width: 100%;

    .headerpic {
      color: #888;
      font-size: 0.75rem;
      height: auto;
      line-height: 1;
      margin: 0 0 1em 0;
      max-width: 100%;
      width: 100%;

      img {
        margin: 0 0 2px 0;
        max-width: 100%;
        padding: 0;
        width: 100%;
      }
    }

    ol.postlist {
      list-style-type: none;
      margin: 0 0 1em 0;
      padding: 0;

      time {
        display: inline-block;
        font-size: 0.8125rem;
        width: 140px;
      }
    }

    .ir {
      float: left;
      margin: 10px 20px 5px 0;
      max-width: 30%;

      a:link,
      a:visited,
      a:hover {
        border-bottom: none;
        text-decoration: none;
      }

      img {
        width: 100%;
      }
    }
    .fulldesc {
      display: none;
    }
  }
  aside {
    background: #fff;
    padding: 30px 30px 30px 0;
    width: 332px;

    .sbwidget {
      font-size: 1rem;
      line-height: 1.5rem;
      margin: 0 0 30px 0;
      max-width: 302px;

      .ml_message_wrapper {
        left: -9999px !important;
        position: absolute !important;
      }
      .ml-form-recaptcha {
        margin-bottom: 5px;
        max-width: 100% !important;
      }
      .ml-form-recaptcha.ml-error iframe {
        border: solid 1px #ff0000;
      }

      .twitterbox {
        margin-bottom: 30px;
        height: 400px;
        width: 302px;
        max-height: 400px;
        max-width: 302px;
        overflow: auto;
      }

      &.newsletter {
        input[type='email'] {
          border: 1px solid #444;
          margin: 0 0 5px 0;
          padding: 8px 10px;
          width: 100%;

          &::placeholder {
            color: #b2deff;
          }
        }
        .ml-form-embedSubmit {
          text-align: right;
          button {
            background: #0482e5;
            border: none;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
            color: #fff;
            padding: 10px;
          }
        }
      }
    }
  }
}

/* FOOTER ============================================== */
footer {
  margin: 0;
  padding: 0;
  width: 100%;

  .wrap {
    background: #333;
    border-top: 20px double #fff;
    color: #fff;
    font-size: 0.8125rem;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 1090px;
    padding: 30px;
    text-align: center;
  }
}

/* DARK MODE =========================================== */
html.dark {
  background: #333;
  color: #ddd;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    border-bottom: 1px dashed #641f5b;
  }

  blockquote {
    background-color: #641f5b;
    border: 1px solid #ae44a0;
  }

  .welcome {
    background: #222;
  }

  header {
    background: rgb(4, 130, 229);
    background: linear-gradient(180deg, rgb(0, 70, 123) 0%, rgba(4, 130, 229, 1) 100%);

    .wrap {
      background: rgba(0, 0, 0, 0.1);

      h1 {
        border-bottom: none;
        a:link,
        a:visited {
          color: #fff;
        }
      }
      h2 {
        border-bottom: none;
        color: #fff;
      }

      nav {
        ul {
          li {
            a:link,
            a:visited {
              background: #000;
              color: #fff;
            }
            a:hover {
              background: #fff;
              color: #0482e5;
            }
          }
        }
      }
    }
  }

  article {
    background: #222;
  }
  aside {
    background: #222;

    .sbwidget {
      &.newsletter {
        input[type='email'] {
          background-color: #000;
          border: 1px solid #888;
          padding: 8px 10px;
          width: 100%;

          &::placeholder {
            color: #003d6c;
          }
        }
      }
    }
  }

  footer {
    .wrap {
      background: #000;
      border-top: 20px double #222;
      color: #fff;
    }
  }
}

/* BREAKPOINTS ========================================= */
@media only screen and (max-width: 848px) {
  header {
    h1 {
      font-size: 2rem;
    }
    nav {
      ul {
        li {
          flex-basis: 30%;

          &:last-child {
            margin-right: 2px;
          }
        }
      }
    }
  }

  .articlewrap {
    flex-direction: column;

    article {
      max-width: 100%;
      padding: 30px;
      width: 100%;
    }
    aside {
      background: #f3f3f3;
      border-top: 15px double #fff;
      max-width: 100%;
      padding: 30px;
      text-align: center;
      width: 100%;

      .sbwidget {
        margin: 0 auto 30px auto;
        max-width: 90%;
        text-align: left;

        .twitterbox {
          max-height: 600px;
          max-width: 100%;
          width: auto;
        }

        &.newsletter {
          .ml-form-recaptcha {
            text-align: right !important;

            .g-recaptcha {
              margin: 0 auto;
            }
          }
          .ml-form-embedSubmit {
            text-align: center;
          }
        }
      }
    }
  }

  footer {
    .wrap {
      border-top-color: #f3f3f3;
    }
  }

  /* Dark Mode */
  html.dark {
    .articlewrap {
      aside {
        background-color: #2a2a2a;
        border-top: 15px double #222;
      }
    }

    footer {
      .wrap {
        border-top-color: #2a2a2a;
      }
    }
  }
}
